@inject AuthenticationStateProvider AuthStateProvider


<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid" style="width:auto;">
        <a class="navbar-brand" href="">سامانه محاسبه‌گر اعتبارات</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span>&nbsp; صفحه اصلی
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="BudgetUpload" Match="NavLinkMatch.All">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span>&nbsp; بارگذاری اطلاعات
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="BudgetEdit" Match="NavLinkMatch.All">
                @* <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>&nbsp; ویرایش اطلاعات *@
                <span class="align-items-center">
                    <span class="bi bi-pencil-fill fs-5" aria-hidden="true"></span>&nbsp; ویرایش اطلاعات
                </span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="BudgetReport" Match="NavLinkMatch.All">
                <span class="align-items-center">
                    <span class="bi bi-clipboard2-data-fill fs-5" aria-hidden="true"></span>&nbsp; گزارش اعتبارات
                </span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="About" Match="NavLinkMatch.All">
                <span class="align-items-center">
                    <span class="bi bi-info-circle-fill fs-5" aria-hidden="true"></span>&nbsp; درباره سامانه
                </span>
            </NavLink>
        </div>

        <!-- پنل مدیریت (فقط برای ادمین) -->
        @if (isAdmin)
        {
            <hr />
            <div class="nav-item px-3 text-light">
                <span class="bi bi-gear-fill fs-5" aria-hidden="true"></span>&nbsp; پنل مدیریت
            </div>

            <div class="nav-item px-4">
                <NavLink class="nav-link" href="/admin/users" Match="NavLinkMatch.All">
                    <span class="bi bi-people-fill fs-6" aria-hidden="true"></span>&nbsp; مدیریت کاربران
                </NavLink>
            </div>

            <div class="nav-item px-4">
                <NavLink class="nav-link" href="/admin/roles" Match="NavLinkMatch.All">
                    <span class="bi bi-shield-lock-fill fs-6" aria-hidden="true"></span>&nbsp; مدیریت نقش‌ها
                </NavLink>
            </div>

            <div class="nav-item px-4">
                <NavLink class="nav-link" href="/admin/AuditLogs" Match="NavLinkMatch.All">
                    <span class="bi bi-journal-text fs-6" aria-hidden="true"></span>&nbsp; لاگ کاربران
                </NavLink>
            </div>
        }
    </nav>
</div>

@* <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet"> *@
<link href="lib/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">



@code {
    private bool isAdmin;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        isAdmin = user.Identity?.IsAuthenticated == true && user.IsInRole("Admin");
    }
}